In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('./data/input/PD_2023_Wk_1_Input.csv')
df.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date
0,DTB-716-679-576,1448,100001,2,20/03/2023 00:00:00
1,DS-795-814-303,7839,100001,2,15/11/2023 00:00:00
2,DSB-807-592-406,5520,100005,1,14/07/2023 00:00:00
3,DS-367-545-264,7957,100007,2,18/08/2023 00:00:00
4,DSB-474-374-857,5375,100000,2,26/08/2023 00:00:00

# Preprocessing

In [25]:
# Create a new field 'Bank' containing the Bank name from the Transaction Code field
df = (
    df
    .assign(Bank = lambda x: x['Transaction Code'].str.split('-').str[0])
    .replace(
        {
            'Online or In-Person': {1: 'Online', 2: 'In-Person'}
        }
    )
    .assign(Day = lambda x: pd.to_datetime(x['Transaction Date']))
    .assign(Day = lambda x: x['Day'].dt.day_name())
    # Drop the original date column
    .drop(columns = ['Transaction Date'])
)

# Show the first 5 rows of the output
df.head()

C:\Users\josev\AppData\Local\Temp\ipykernel_19836\3986880112.py:10: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  .assign(Day = lambda x: pd.to_datetime(x['Transaction Date']))

  Transaction Code  Value  Customer Code Online or In-Person Bank        Day
0  DTB-716-679-576   1448         100001           In-Person  DTB     Monday
1   DS-795-814-303   7839         100001           In-Person   DS  Wednesday
2  DSB-807-592-406   5520         100005              Online  DSB     Friday
3   DS-367-545-264   7957         100007           In-Person   DS     Friday
4  DSB-474-374-857   5375         100000           In-Person  DSB   Saturday

# Calculations

In [26]:
# Otput 1: Sum of the transaction values by Bank
( df
    .groupby('Bank', as_index=False)
    ['Value'].sum()
    .to_csv(path_or_buf='./data/output/output_1.csv', index=False, quoting=1, quotechar='"', sep=';')
)

In [27]:
# Output 2: Sum of the transaction values by Bank, Day and Transaction Type
( df
    .groupby(['Bank', 'Day', 'Online or In-Person'], as_index=False)
    ['Value'].sum()
    .to_csv(path_or_buf='./data/output/output_2.csv', index=False, quoting=1, quotechar='"', sep=';')
)

In [28]:
# Output 3: Sum of the transaction values by Bank and Customer
( df
    .groupby(['Bank', 'Customer Code'], as_index=False)
    ['Value'].sum()
    .to_csv(path_or_buf='./data/output/output_3.csv', index=False, quoting=1, quotechar='"', sep=';')
)